<div class="comment">
  <% @post.comments.each do |c| %>
  <p><%= c.body %></p>
  <div class="reply">
    <% c.replies.each do |r| %>
    <p><%= r.body %></p>
    <% end %>
  </div>
  <% end %>
</div>
